/*
* Structure
*/
html{}
body{
   background-color:#eee;
   font: 1em Verdana, Arial, Helvetica, sans-serif;
}

#header,
#main,
#footer {
   margin:0 auto;
   width:970px;
   background-color:#fff;
   padding: 1em;
}

.info, .success {
	background-color: #83F0C3;
	border: 1px solid #A0F06C;
}

#login-menu{
	float: right;
}

.validation-failed{
	border:2px solid red;
}

.validation-message{
	color:red;font-size:smaller;
}